<nav class="header-nav">
  <mat-icon fontSet="material-symbols-outlined" class="header-nav__logo">eyeglasses</mat-icon>
  <ul class="header-nav__list">
    <li>
      <a routerLink="/">
        <mat-icon class="header-nav__icon">home</mat-icon>
        <span class="header-nav__text">Accueil</span>
      </a>
    </li>
    <li>
      <a routerLink="/cra">
        <mat-icon class="header-nav__icon">calendar_view_month</mat-icon>
        <span class="header-nav__text">Calendrier</span>
      </a>
    </li>
  </ul>
</nav>
